*{
    box-sizing: border-box;
}

body{
    background-color: rgb(79, 170, 162);
    font-family: 'Courier New', Courier, monospace;
}

.header-name, section{
    height: auto;
    width: 100%;
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.sec{
    display: flex;
    flex-direction: row;
    gap:20px;
}

#profile{
    height: 80px;
    width: 80px;
    border-radius: 50px;
}

#name{
    font-size: 35px;
}

.class-year{
    font-style: italic;
    font-size: 15px;
}

.objective{
    text-indent: 50px;
}
