*{
    box-sizing: border-box;
}

body{
    background-color: rgb(227, 227, 233);
    font-family: 'Courier New', Courier, monospace;

}


 /*......HEADER.......*/
.main-header{
    display: flex;
    flex-direction: row;
    gap:20px;
}

#profile{
    height: 80px;
    width: 80px;
    border-radius: 50px;
}

#name{
    font-size: 35px;
}select
s
#name-email{
    padding:0;
    display: flex;
    flex-direction: column;
}

#name-email h1{
    margin-bottom: 0px;
}
.add-info{
    display: flex;
    flex-direction: row;
    gap:3px;
    margin-left: 1px;
}

#email-logo, #phone-logo{
    height: 17px;
    width: 20px;
    margin-top: 0;
}

#phone-logo{
margin-left: 15px;
margin-right: 0px;
}

#name-email p{
    margin-top: 0;
}

#number{
    padding-top: 1px;
    padding-left:0px;
    margin-left:1px;
    font-size:15px;
}

.objective{
    text-indent: 50px;
}

.header-name, section{
    height: auto;
    width: 100%;
    background-color: white;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
}

 /*......MAINSECTION.......*/

 .main-information{
    padding-top: 10px;
 }



.class-year{
    font-style: italic;
    font-size: 15px;
}




