*{
    box-sizing: border-box;
}

body{
    color: rgb(88, 85, 104);
    background-color: rgb(236, 234, 245);
    font-family: 'Courier New', Courier, monospace;

}

.header-name, section{
    height: auto;
    width: auto;
    background-color: white;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
}


/*.............................HEADER...........................*/

/*////////Main-Header///////*/
.main-header{
    display: flex;
    flex-direction: row;
    gap:20px;
}

#profile{
    height: 80px;
    width: 80px;
    border-radius: 50px;
}

#name-email{
    padding:0;
    display: flex;
    flex-direction: column;
}

#name-email h1{
    margin-bottom: 0px;
}

#name{
    font-size: 35px;
}

/*/////////Add-Info/////////*/
.add-info{
    display: flex;
    flex-direction: row;
    gap:3px;
    margin-left: 1px;
}

#email-logo, #phone-logo{
    height: 17px;
    width: 20px;
    margin-top: 0;
}

#phone-logo{
    margin-left: 15px;
    margin-right: 0px;
}

#name-email p{
    margin-top: 0;
}

#number{
    padding-top: 1px;
    padding-left:0px;
    margin-left:1px;
    font-size:15px;
}

.objective{
    text-indent: 50px;
}




/*............................MAINSECTION.........................*/

/*//////////Main-Info/////////*/
 .main-information{
    padding-top: 10px;
 }

.class-year{
    font-style: italic;
    font-size: 15px;
}



/*//////////Footer/////////*/
.footer{
    padding-top: 43px;
    margin-bottom: 0;
    padding-bottom: 10px;
}

#links{
    margin-top: 15px;
}

#github-logo, #linkedin-logo{
    height: 30px;
    width: 31px;
}

@media only screen and (max-width: 600px) {
    #name{
        font-size: 20px;
    }

    .objective{
        font-size: 12px;
    }
    
    .main-information{
        font-size: 77% ;
     }

     .class-year{
        font-style: italic;
        font-size: 77%;
    }
    .main-header{
        display: flex;
        flex-direction: column;
        gap:20px;
        align-items: center;
    }



    .add-info{
        display: flex;
        flex-direction: column;
        gap:3px;
        margin-left: 1px;
        font-size: 12px;
    }

    #number{
        padding-top: 1px;
        padding-left:0px;
        margin-left:1px;
        font-size:12px;
    }

    #phone-logo, #email-logo{
        display: none;
    }

    #name-email p{
        margin-top: 0;
        margin-bottom: 0;
    }

    #name-email h1{
        margin-top: 15px;
        margin-bottom: 8px;
    }

    .footer{
        padding-top: 43px;
        margin-bottom: 0;
        padding-bottom: 10px;
        font-size: 70%;
    }
    
    #github-logo, #linkedin-logo{
        height: 20px;
        width: 21px;
    }
    

  }
